.MenuAction {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.Loading {
    background-color: #aaa;
    cursor: default;
}

.Idle {
    background-color: #222;
    cursor: pointer;
}

.MenuAction-text {
    padding: 8% 0;
    margin: 0;
    color: #fff;
    height: 90%;
}

.MenuAction-spinner {
    height: 100%;
    padding: 0% 0%;
}
